/* All */

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Helvetica-neue, sans-serif;
}

/* * {
    border: 1px solid midnightblue;
} */


/* Header */

header {
    margin-bottom: 0;
}

header img {
    float: left;
    height: 2.5rem;
    display: flex;
    margin: 0.4rem;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    padding-left: 0;
}
 
header nav li {
    list-style-type: none;
    display: inline-block;
    font-size: 1rem;
    padding: 0 1rem;
}

header nav li a {
    text-decoration: none;
    color: gray;
    font-weight: 500;
}

header nav li a:hover {
    color: navy;
}

/* Jumbotron */

#jumbotron {
    height: 30rem;
    width: 100%;
    background-image: url(../images/purple-landscape.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.statement {
    text-align: center;
    line-height: 1.2;
    width: 100%;
    margin-top: 1rem;
    
}

.statement h1 {
    font-size: 3.5rem;
    font-weight: 300;
    color: white;
    /* margin-bottom: -0.2rem; */
}

.statement p {
    font-size: 1.2rem;
    font-weight: 300;
    margin: -2.2rem;
    color: white;
    /* padding: -3rem; */
}

.statement hr {
    margin: 2.5rem 1.2rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    height: 0;
}


.statement button {
    margin-top: 0.5rem;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #007bff;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid #007bff;
    transition: color .15s
}

.statement button:hover {
    background-color: #007bff;
    color: white;
}
/* About */



/* Portfolio */


/* Contact */

/* Footer */

